*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; will instruct the browser to ignore padding in the overall width */
  box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
  }

  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  
  header a {
    
    color: #fce138;
    text-decoration: none;
    /* te xt-decoration: none;  to disable underlines on the "a" tag */
  }
  header nav{
    /* float moves to elements right left */
    float: right;
    margin: 7px 0;
  }
  header nav ul li{
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px ;
  }

  section{
    padding: 60px;
  }
  .hero-image{
    background-image: url("../images/hero-bg.jpeg");
    height: 600px;
    background-size: cover ;
    background-position: center;
    position: relative;
  }
  .hero-form{
    color: #024e76;
    background-color: #fce138;
    width: 500px;
    padding: 20px;
    border: 3px solid #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
  .hero-form h3{
    font-size: 24px;
    margin: 0;
  }
  .hero-form p{
    margin: 5px 0 15px 0 ;
  }
  .form-input {
    font-size: 16px;
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: 15px;
  }
  .hero-form label{
    margin: 0 5px;
  }

  .hero-form button{
    background-color: #024e76;
    color: #fce138;
    padding: 10px 20px;
    border: none;
    font-size: 16px;

  }
  .intro{
    text-align: center;
  }
  .intro h2{
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
  }
  .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    display: inline-block;
  }
  #what-you-do{
    background-color: #fce138;
    text-align: center;
    color:#024e76;
    
  }
  #what-you-do div img{
    width: 100px;
    height: auto;
  }



  footer{
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
  }

  footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div{
    float: right;
    text-align: right;
    line-height: 1.5;
  }

  footer a{
    color: #024e76;
  }